<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Confirm Delete</title>
        <link rel="stylesheet" href="{% static '/diceApp/css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Are you sure you want to delete {{exercise.name}}?</h1>
            <form method="post">
                <div class="btn-flex-container">
                    <input type="submit" value="Confirm" class='btn btn-flex'>
                    <a href="/{{exercise.id}}" class='btn btn-flex'>Cancel</a>
                </div>

                {% csrf_token %}
            </form>
        </div>
    </body>
</html>
