<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Exercise List</title>
        <link rel="stylesheet" href="{% static '/diceApp/css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>All Exercises:</h1>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Primary Muscle Group</th>
                    <th>Secondary Muscle Group</th>
                    <th>Difficulty</th>
                    <th>Reps (per side)</th>
                    <th>Always Include?</th>
                </thead>
                {% for ex in exercise_list %}
                    <tr>
                        <td><a href="/{{ex.id}}">{{ex.id}}</a></td>
                        <td>{{ex.name}}</td>
                        <td>{{ex.muscleGroup}}</td>
                        <td>{{ex.muscleGroup2}}</td>
                        <td>{{ex.difficulty}}</td>
                        <td>{{ex.reps}}</td>
                        <td>{{ex.alwaysInclude}}</td>
                    </tr>
                {% endfor %}
            </table><br>
            Click ID to edit/delete.<br>

            <div class="btn-flex-container">
                <a href="/create" class='btn btn-flex'>Add New Exercise</a><br>
                <a href="/workout" class='btn btn-flex'>Generate Workout</a>
            </div>

        </div>

    </body>
</html>
